.content {
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

// Ajouter votre code sous cette ligne
